
<style>
  body {
    font-size: 10px;
    background: #1e1e1e;
  }

  button {
    border: 1px solid #5f5f5f !important;
    margin: 1px;
    color: #ffffff !important;
  }
</style>
<div class="container mt-2 text-center" id="keyboard">
  <div class="row">
    <div class="col-8 primary">
      <div class="row">
        <button class="col me-2 btn" (click)="changeButtonColor($event)" data-key-id="1">Esc</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="2">F1</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="3">F2</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="4">F3</button>
        <button class="col me-2 btn" (click)="changeButtonColor($event)" data-key-id="5">F4</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="6">F5</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="7">F6</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="8">F7</button>
        <button class="col me-2 btn" (click)="changeButtonColor($event)" data-key-id="9">F8</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="10">F9</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="11">F10</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="12">F11</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="13">F12</button>
      </div>
      <div class="mt-4"></div>
      <div class="row">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="14">`</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="15">1</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="16">2</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="17">3</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="18">4</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="19">5</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="20">6</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="21">7</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="22">8</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="23">9</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="24">0</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="25">-</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="26">=</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="27">Backspace</button>
      </div>
      <div class="row">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="28">Tab</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="29">Q</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="30">W</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="31">E</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="32">R</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="33">T</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="34">Y</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="35">U</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="36">I</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="37">O</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="38">P</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="39">[</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="40">]</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="53">\</button>
      </div>
      <div class="row">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="41">CAPS</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="42">A</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="43">S</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="44">D</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="45">F</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="46">G</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="47">H</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="48">J</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="49">K</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="50">L</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="51">;</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="52">'</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="54">ENTER</button>
      </div>
      <div class="row">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="55">SHIFT</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="57">Z</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="58">X</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="59">C</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="60">V</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="61">B</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="62">N</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="63">M</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="64">,</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="65">.</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="66">/</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="67">SHIFT</button>
      </div>
      <div class="row">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="68">CTRL</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="69">WIN</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="70">ALT</button>
        <button class="col col-4 btn" (click)="changeButtonColor($event)" data-key-id="71">SPACE</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="72">ALT</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="129">FN</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="74">RC</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="75">CTRL</button>
      </div>
    </div>
    <div class="col-2 util-key">
      <div class="row">
        <div class="col top-row-4">
          <div class="row">
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="84">PRTSC</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="85">SCRLK</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="86">PAUSE</button>
          </div>
        </div>
      </div>
      <div class="row mt-4">
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="87">INS</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="88">HOME</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="89">PGUP</button>
          </div>
          <div class="row">
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="90">DEL</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="91">END</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="92">PGDWN</button>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">&nbsp;</div>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="93">UP</button>
            <div class="col btn" (click)="changeButtonColor($event)" data-key-id="212312">&nbsp;</div>
          </div>
          <div class="row">
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="94">LEFT</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="95">DOWN</button>
            <button class="col btn" (click)="changeButtonColor($event)" data-key-id="96">RIGHT</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 num-section">
      <div class="row top-row-5">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="101">⏹</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="102">⏪</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="103">⏯</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="104">⏩</button>
      </div>
      <div class="mt-4"></div>
      <div class="row top-row-5">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="105">NUM</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="106">/</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="107">*</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="108">-</button>
      </div>
      <div class="row top-row-5">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="109">7</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="110">8</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="111">9</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="112">+</button>
      </div>
      <div class="row top-row-5">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="113">4</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="114">5</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="115">6</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="120"></button>
      </div>
      <div class="row top-row-5">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="116">1</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="117">2</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="118">3</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="120">ENT</button>
      </div>
      <div class="row top-row-5">
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="121">0</button>
        <button class="col btn" (click)="changeButtonColor($event)" data-key-id="122">.</button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <button class="col btn" (click)="changeButtonColor($event)" data-key-id="126">
        <input style="width: 2vw;height: 2vh" type="color" id="colorPicker" value="#FF0000">
      </button>
    </div>
  </div>
</div>
